## Projet Analyse de données: analyse de données financières et macroéconomiques

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('finance_economics_dataset.csv')
print(df.head())

         Date Stock Index  Open Price  Close Price  Daily High  Daily Low  \
0  2000-01-01   Dow Jones     2128.75      2138.48     2143.70    2100.55
1  2000-01-02     S&P 500     2046.82      2036.18     2082.83    2009.53
2  2000-01-03   Dow Jones     1987.92      1985.26     2022.28    1978.37
3  2000-01-04   Dow Jones     4625.02      4660.47     4665.26    4595.46
4  2000-01-05     S&P 500     1998.18      1982.18     2044.31    1966.44

   Trading Volume  GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
0         2670411           -0.37                6.06                   6.10
1       690220415            3.19                4.95                   6.62
2       315284661            5.54                9.13                   2.60
3        13098297           10.00                3.77                   2.20
4       385306746            1.53                2.20                   8.20

   ...  Forex USD/EUR  Forex USD/JPY  Crude Oil Price (USD per Barrel)  \
0  ...           1.04         119.87                             47.20
1  ...           1.00          98.22                             52.84
2  ...           0.83          80.13                             78.80
3  ...           0.95         149.15                             28.18
4  ...           1.43         113.71                             92.20

   Gold Price (USD per Ounce)  Real Estate Index  Retail Sales (Billion USD)  \
0                     1052.34             390.23                        2229
1                     1957.73             346.23                        4156
2                     2339.49             439.46                         340
3                     1308.54             213.07                        8456
4                     2210.08             405.49                        1596

   Bankruptcy Rate (%)  Mergers & Acquisitions Deals  \
0                 2.12                             3
1                 1.40                            21
2                 0.79                            48
3                 4.22                            16
4                 2.21                            34

   Venture Capital Funding (Billion USD)  Consumer Spending (Billion USD)
0                                  76.64                             4589
1                                   5.67                            10101
2                                  39.43                            13665
3                                  12.83                             5192
4                                  86.37                            10688

[5 rows x 24 columns]

In [8]:
df.dtypes

Date                                      object
Stock Index                               object
Open Price                               float64
Close Price                              float64
Daily High                               float64
Daily Low                                float64
Trading Volume                             int64
GDP Growth (%)                           float64
Inflation Rate (%)                       float64
Unemployment Rate (%)                    float64
Interest Rate (%)                        float64
Consumer Confidence Index                  int64
Government Debt (Billion USD)              int64
Corporate Profits (Billion USD)            int64
Forex USD/EUR                            float64
Forex USD/JPY                            float64
Crude Oil Price (USD per Barrel)         float64
Gold Price (USD per Ounce)               float64
Real Estate Index                        float64
Retail Sales (Billion USD)                 int64
Bankruptcy Rate (%)                      float64
Mergers & Acquisitions Deals               int64
Venture Capital Funding (Billion USD)    float64
Consumer Spending (Billion USD)            int64
dtype: object

In [9]:
df.describe()

,Open Price,Close Price,Daily High,Daily Low,Trading Volume,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),Interest Rate (%),Consumer Confidence Index,...,Forex USD/EUR,Forex USD/JPY,Crude Oil Price (USD per Barrel),Gold Price (USD per Ounce),Real Estate Index,Retail Sales (Billion USD),Bankruptcy Rate (%),Mergers & Acquisitions Deals,Venture Capital Funding (Billion USD),Consumer Spending (Billion USD)
count,3000.000000,3000.000000,3000.000000,3000.00000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,2982.094607,2981.249173,3018.887777,2944.32975,5.033864e+08,2.608903,5.096830,8.663787,5.218237,85.036000,...,1.146113,115.115233,85.539953,1655.167877,300.554457,5099.546667,5.007413,24.598667,49.955197,7551.278000
std,1151.862689,1151.783841,1151.683485,1151.83490,2.859004e+08,4.287337,2.910513,3.737536,2.726115,20.224829,...,0.201128,20.111351,37.847063,492.177706,114.601328,2898.714108,2.866466,14.301344,28.722592,4203.705678
min,1000.050000,954.520000,1012.130000,917.17000,1.636024e+06,-5.000000,0.010000,2.000000,0.500000,50.000000,...,0.800000,80.010000,20.040000,800.160000,100.130000,107.000000,0.010000,0.000000,0.100000,101.000000
25%,1994.982500,1997.425000,2035.952500,1955.39750,2.545224e+08,-1.012500,2.607500,5.450000,2.890000,68.000000,...,0.980000,98.267500,52.590000,1226.737500,202.370000,2503.750000,2.570000,12.000000,25.762500,3950.750000
50%,2970.780000,2977.180000,3006.520000,2939.24500,5.033710e+08,2.725000,5.110000,8.710000,5.250000,86.000000,...,1.140000,114.795000,85.080000,1666.060000,299.885000,5123.500000,5.060000,25.000000,49.840000,7610.000000
75%,3974.690000,3982.082500,4015.217500,3934.08750,7.537963e+08,6.242500,7.600000,11.882500,7.492500,103.000000,...,1.320000,132.455000,119.150000,2080.730000,399.137500,7616.250000,7.482500,37.000000,74.825000,11148.750000
max,4998.230000,5034.130000,5076.190000,4977.06000,9.999771e+08,10.000000,10.000000,15.000000,10.000000,119.000000,...,1.500000,149.960000,149.870000,2499.660000,499.920000,9998.000000,10.000000,49.000000,99.990000,14990.000000

## Statistiques unidimensionnelles